<div id="detail_post" class="detail-post">
	<h3 id="detail_post_title"><a href={{post.link}}>{{post.title}}</a></h3>
	<div id="detail_post_author">{{post.author}}</div>
	<div id="detail_post_content" innerHTML={{post.content}}></div>
</div>

