.pointer {
    cursor: pointer;
}

.spacer {
	margin-top: 50px;
}

.list-scroll {
	max-height: 800px;
	overflow-y:scroll;
}

.detail-post img {
	max-width: 100%;
}

@media (max-width: 991px) {
	.list-scroll {
		max-height: 300px;
		overflow-y:scroll;
	}
}