<div class="col-md-4">
	<div>
		<table class="table table-hover">
			<tbody>
				{{#each model as |post|}}
					<tr>					
						<td class="break_all pointer"><p {{action "selectPost" post}}>{{post.title}}</p></td>				
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
<div class="col-md-6">
	{{post-detail post=selectedPost}}
</div>
